<div id="comment">
<h3>Edit a Comment!</h3>
<%= form_for (@comment) do |f| %>
<%= f.label :content, "Comment:" %>
<%= f.text_field :content %>
<%= f.submit "Post Comment", :class => "button" %>
<% end %>
</div>
