<br>
<h1><%= "Welcome to #{@user.username.capitalize}'s Profile Page!" %></h1>

<div class="user_show">
    <div class="container">
    <h2><%="#{@user.username.capitalize}'s Pictures" %></h2>
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                  <% @user.pictures.each do |picture| %>
					<%= link_to image_tag("#{picture.image_url}"), picture_path(picture), height: 150, width: 500, :class => "thumbnail" %>
					<% end %>
				<%= link_to "Create a New Picture", new_picture_path %>  
                </div>
           </div>
        </div>
    </div>
</div>

