<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<div class="page-header">
  <h1><%= "#{@user.username.capitalize}'s Profile Page" %></h1>
  <small><%= link_to "Create a New Picture", new_picture_path %><br>

<%= button_to "Delete Account", user_path(@user), method: :delete %></small>

</div>
<br>
<br>



<% @user.pictures.each do |picture| %>
<div class="col-md-3" style="padding-left: 5px; padding-right: 5px; padding-bottom: 5px; padding-top: 5px;"><%= link_to image_tag("#{picture.image_url}", :size => "250x250"), picture_path(picture)  %></div>
<% end %><br><br>
</div>

<br>
<br>
<br>

</body>

<br>
<br>
</html>

