body {
  background-color: #d7eaf2;
	font-family: courier;
	width: 100%;
	padding: 10px;
}

.container {
  background-color: #d7eaf2;
}

hr {
  border: 1px solid #000000;
}

.checkbox_container {
  display: inline-block;
  vertical-align: -1px;
  margin: 5px;
 }

.checkbox_container .collection_check_boxes{
  display: inline;
  vertical-align: -5px;
 }


/*#comment {
	border-style: solid;
    border-width: 2px;
    padding: 10px;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    border: 1px solid blue;
}
*/
