body {
    background-color: lightblue;
	font-family: verdana;
	width: 100%;
	padding: 10px;

}

/*#comment {
	border-style: solid;
    border-width: 2px;
    padding: 10px;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    border: 1px solid blue;
}
*/
.button {
	background-color: gray;
	color: white;
  	width: 90px;
  	height: 20px;
}


/*.thumbnail img {
    height:50px;
    width:100%;
}*/

/*.container {
	max-width: 100%;
}
